/*



Theme Name: Decisão 

Theme URI: http://decisao.com.br

Author: HC Desenvolvimentos

Author URI: http://hcdesenvolvimentos.com.br;

Description: Descrção do thema.

Version: 1.0

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

Text Domain: decisao

Tags: .



--------------------------------------------

ESTRUTURAÇÃO BASE (Palupa Framework v1)

--------------------------------------------

*** BODY

**** TOPO

**** RODAPÉ

**** COPYRIGHT

**** ESTILOS GERAIS PARA AS PÁGINAS

**** PÁGINA INICIAL

**** EXTRAS

**** @MEDIA



font-family: 'Rubik', sans-serif;

font-family: 'Hammersmith One', sans-serif;

*/

*{

  margin: 0;

  padding: 0;

}



/* BODY */

  body{

    font-family: 'Roboto', sans-serif;

  }

  



/* TOPO */

  .topo {

    position: fixed;

    z-index: 5;

    width: 100%;

    transition:All .5s ease;

    -webkit-transition:All .5s ease;

    -moz-transition:All .5s ease;

    -o-transition:All .5s ease;

    

  }

  .topoativo {

    background: #2fbdebf0;

    transition:All .5s ease;

    -webkit-transition:All .5s ease;

    -moz-transition:All .5s ease;

    -o-transition:All .5s ease;

    

  }

    .topo .img-logo {

      margin: 23px auto;

      max-width: 255px;

      padding-left: 30px;

    }

    .topo .logo-internas{

      display: none;

    }

      .topo .img-logo a {



      }

        .topo .img-logo a img {

          width: 100%;

          max-width: 175px;

          margin: 5px auto;

          padding-left: 19px;

        }

    .topo .navbar {

      margin: 5px auto;

    }

      .topo .navbar button {

        display: none;

      }

      .topo .navbar {



      }

        .topo .navbar nav {



        }

          .topo .navbar nav ul {

            margin: 14px auto;

          }

          .topo .navbar nav ul li {

            color: white;

            font-size: 14px;

          }

          .topo .navbar nav ul .num {

            color: white;

            margin: 15px auto;

            padding: 0px 20px 0 15px;         

          }

          .topo .navbar nav ul .whats {



          }

          .topo .navbar nav ul .phone {

            padding-left: 20px;

          }

          .topo .navbar nav ul .whats:before {

            content: '';

            background: url(img/whatsapp.png) no-repeat;

            display: block;

            position: absolute;

            bottom: 0;

            right: 202px;

            width: 20px;

            height: 22px;

            background-size: cover;

            background-position: center;

          }

          .topo .navbar nav ul .phone:before {

            content: '';

            background: url('img/phone.png')no-repeat;

            background-size: cover;

            background-position: center;

            display: block;

            position: absolute;

            bottom: 5px;

            left: 4px;

            width: 12px;

            height: 12px;

          }

          .topo .navbar nav ul .link-menu {

            padding-left: 20px;

          }

          .topo .navbar nav ul li a{

            text-decoration: none;

            color: white;

            background: transparent;

          }

          .topo .navbar nav ul li a:hover {

            background: #1ab7ea;

            border-radius: 4px;

          }

          .topo .navbar nav ul li a:focus {

            text-decoration: underline;

          }

  .topo.internas.topoativo {

    background: #fffffff2;

  }



  .topo.internas .navbar nav ul li a{

    color: #003768;

  }

  .topo.internas .img-logo {

    margin: 23px auto;

    max-width: 255px;

    padding-left: 0px;

  }

    .topo.internas .img-logo .logo-internas {

      display: block;

      width: 100%;

      max-width: 156px;

      margin: 28px auto;

    }

      .topo.internas .img-logo a .logo-internas {

        padding-left: 0px;

      }

    .topo.internas .logo-inicial {

      display: none;

    }

  .topo.internas .navbar nav ul .num {

    color: #003768;

  }

  .topo.internas .navbar nav ul .whats:before {

    content: '';

    background: url(img/whatsapp-azul.png) no-repeat;

    display: block;

    position: absolute;

    bottom: 4px;

    right: 204px;

    width: 16px;

    height: 13px;

    background-size: cover;

    background-position: center;

  }

  .topo.internas .navbar nav ul .phone:before {

    content: '';

    background: url(img/phone-azul.png) no-repeat;

    background-size: cover;

    background-position: center;

    display: block;

    position: absolute;

    bottom: 5px;

    left: 4px;

    width: 12px;

    height: 12px;

  }



/*RODAPÉ*/

  footer{

    background: #2f383d;

  }

  footer .footer {

    margin: 0 auto;

    width: 100%;

    max-width: 1210px;

  }

    footer .footer .logo {

      margin: 35px auto;

      padding: 0 7px;

    }

      footer .footer .logo figure{

        margin: 20px auto;

        width: 100%;

        max-width: 261px;

      }

        footer .footer .logo figure img {

      

        }

      footer .footer .logo p {



      }

      footer .footer .logo .texto-footer {

        color: #acafb0;

        width: 100%;

        max-width: 263px;

        margin: 20px auto;

        line-height: 26px;

        font-weight: 300;

        font-size: 14px;

      }

  footer .footer .recentes {

    margin: 41px auto;

    padding-left: 20px;

  }

  footer .footer .recentes .span {

    color: #d5e9f8;

    font-size: 16px;

    margin: 0 auto;

    padding-left: 5px;

  }

    footer .footer .recentes .post {

      margin: 20px auto;

    }

    

      footer .footer .recentes .post figure {

        max-width: 65px;

        margin: 0 auto;

      }

        footer .footer .recentes .post figure img {

          width: 100%;

          max-width: 55px;

        }

      footer .footer .recentes .post .post-info {



      }

        footer .footer .recentes .post .post-info p {

          margin: 0 auto;

          font-size: 13.5px;

        }

          footer .footer .recentes .post .post-info p a {

            color: white;

          }

          footer .footer .recentes .post .post-info p a:focus {

            text-decoration: underline;

          }

        footer .footer .recentes .post .post-info .data {

          font-size: 11.5px;

          color: #6d7a83;

        }

  footer .footer .news {

    margin: 40px auto;

    padding-left: 25px;

    padding-right: 7px;

  }

    footer .footer .news .span-news{

      color: #d5e9f8;

      font-size: 16px;

      margin: 0 auto;

    }

    footer .footer .news .botao-assinar {

      text-align: right;

    }

      footer .footer .news .botao-assinar input {

        border: none;

        border-radius: 4px;

        width: 100%;

        height: 40px;

        text-indent: 15px;

        font-size: 18px;

        margin: 0 auto;

        font-weight: 300;

      }

      footer .footer .news .botao-assinar input[type="submit"] {

        color: white;

        background: #1ab7ea;

        width: 100%;

        max-width: 155px;

        text-indent: 0px;

        margin: 12px auto;

        font-size: 20px;

        font-weight: 400;

        position: absolute;

        right: 10px;

      }

    footer .footer .news .botao-assinar input[type="submit"]:hover {

      background: #ccc;

      color: black;

    }

    footer .footer .news .botao-assinar input[type="submit"]:focus {

      background: #ddd;

      color: black;

      border: 1px solid #aaa;

    }

    footer .copyright {

      background: #fff;

      font-size: 12px;

      height: 58px;

    }

    footer .copyright figure {

      

    }

    footer .copyright .copy {

      

    }

      footer .copyright .copy img {

      

      }

      footer .copyright .copy p {

        padding: 18px 8px 0;

      }

    footer .copyright .handgram {

      text-align: right;    

    }

      footer .copyright .handgram figure {

        display: inline-block;

      }

        footer .copyright .handgram figure img {

          

        }

        footer .copyright .handgram figure .img-handgram {

          

        }

  footer .copyright p {

    display: inline-block;

    font-weight: 300;

  }

  footer .copyright .handgram p {

    text-align: right;

    display: inline-block;

    margin: 20px 17px 0;

  }



/*COPYRIGHT*/

  .copyright {



  }



/*PG*/

  .pg{



  }



/*PÁGINA INICIAL*/

  .pg-inicial{



  }

    .pg-inicial .carrossel-destaque{ 
      height: 560px;
      overflow: hidden;
    

    }

      .pg-inicial .carrossel-destaque #carrossel-destaque { 

    

      }

        .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel { 

    

        }

          .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel figure{ 

      

          }

            .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel .img-carrossel{ 

      

            }

          .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel .texto-carrossel { 

            position: absolute;

            top: 160px;

            z-index: 5;

            text-align: center;

            width: 100%;

          }

            .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel .texto-carrossel h1 { 

              color: white;

              font-size: 70px;

            }

            .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel .texto-carrossel h5 { 

              color: #1ab7ea;

              font-size: 25px;

              font-weight: 200;

            }

            .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel .texto-carrossel a {

              background: #1ab7ea;

              color: white;

              border: none;

              width: 100%;

              height: 62px;

              max-width: 220px;

              margin: 20px auto;

              border-radius: 4px;

              font-size: 18px;

              display: block;

              padding-top: 20px;

            }

            .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel .texto-carrossel a:hover, .pg-inicial .carrossel-destaque #carrossel-destaque .item-carrossel .texto-carrossel a:focus {

              border: 1px solid #aaa;

              color: #333;

              background-color: #d4d4d4;

              border-color: #8c8c8c;

              transition: all 0.3s;

            }

    .pg-inicial .carrossel-destaque .owl-dots {

      text-align: center;

      padding: 10px 0;

      position: absolute;

      bottom: 0;

      display: block;

      width: 100%;

    }

      .pg-inicial .carrossel-destaque .owl-dot {

        display: inline;

      }

      .pg-inicial .carrossel-destaque .owl-dot span {

        display: inline-block;

        width: 16px;

        height: 16px;

        margin: 6px 1px;

        border: 1px solid white;

        border-radius: 20px;

        background: #fff;

      }

      .pg-inicial .carrossel-destaque .owl-dot.active span {

        transition-delay: 0.7s;

        background: #4eb2e5;

        width: 18px;

        height: 18px;

      }

    .pg-inicial .gestao-pessoas {



    }

      .pg-inicial .gestao-pessoas .gestao-texto{

        width: 100%;

        max-width: 500px;

        margin: 70px auto;

      }

        .pg-inicial .gestao-pessoas .gestao-texto h2{

          font-size: 58px;

          font-weight: 900;

          color: #4eb2e5;

        }

        .pg-inicial .gestao-pessoas .gestao-texto p{

          line-height: 40px;

          font-size: 18px;

          color: #9e9e9e;

          font-weight: 300;

        }

        .pg-inicial .gestao-pessoas .gestao-texto h3 {

          font-size: 28px;

          margin: 20px auto;

          color: #003768;

          font-weight: 300;

        }

        .pg-inicial .gestao-pessoas {



        }

          .pg-inicial .gestao-pessoas figure {



          }

            .pg-inicial .gestao-pessoas figure img {

              width: 100%;

              max-width: 555px;

              margin: 45px auto 0;

              padding-left: 15px;

            }

    .pg-inicial {



    }

      .pg-inicial .saiba-como {

        background: #003768;

      }

        .pg-inicial .saiba-como figure {

        

        }

          .pg-inicial .saiba-como figure img {

            width: 100%;

            max-width: 665px;

            margin: 0 auto;

          }

      .pg-inicial .saiba-como .saiba-como-texto {

        width: 100%;

        max-width: 565px;

        margin: 55px auto 0;

      }

        .pg-inicial .saiba-como .saiba-como-texto h2 {

          margin: 9px auto;

          font-size: 60px;

          color: #4eb2e5;

          font-weight: 900;

        }

        .pg-inicial .saiba-como .saiba-como-texto h3{

          font-size: 28px;

          margin: 20px auto;

          color: #8595a9;

          font-weight: 300;

        }

        .pg-inicial .saiba-como .saiba-como-texto p{

          margin: 0 auto;

          font-size: 18px;

          color: #dde1e6;

          font-weight: 300;

          line-height: 46px;

        }

    .pg-inicial .secao-parceiros {

      margin: 60px auto;

    }

      .pg-inicial .secao-parceiros .parceiros {

    

      }

        .pg-inicial .secao-parceiros .parceiros ul {

          margin: 0 auto;

          width: 100%;

          max-width: 1000px;

        }

          .pg-inicial .secao-parceiros .parceiros ul li {

            width: 100%;

            max-width: 160px;

            margin: 0 auto;

            display: inline-block;

            padding: 0 10px;

          }

            .pg-inicial .secao-parceiros .parceiros ul li a {

      

            }

              .pg-inicial .secao-parceiros .parceiros ul li a img{

                width: 100%;

                height: auto;

              }

    .pg-inicial .fundo {

      background: url("img/img-servicos.jpg") no-repeat;

      background-position: left;

      background-size: contain;

    }

    .pg-inicial .fundo .servicos {

      width: 100%;

      max-width: 504px;

      text-align: center;

      margin: 78px auto;

      border: 1px solid #99999942;

      border-radius: 5px;

      box-shadow: 0px 0px 10px -2px rgb(127, 146, 141);

      background: #fff;

      position: relative;

      right: 112px;

    }

      .pg-inicial .fundo .servicos figure {

        width: 100%;

        margin: 30px auto 8px;

      }

        .pg-inicial .fundo .servicos figure img {

          margin: 15px auto;

        }

      .pg-inicial .fundo .servicos h6 {

        font-size: 25px;

        color: #003768;

        font-weight: 300;     

      }

      .pg-inicial .fundo .servicos p {

        color: #a3aebd;

        padding: 0 26px;

        font-weight: 300;

        font-size: 13px;

        line-height: 24px;

      }

        .pg-inicial .fundo .servicos ul{

          padding-left: 5px;

        }

          .pg-inicial .fundo .servicos ul li{

            text-align: left;

            list-style: none;

            margin: 0 auto;

            padding: 0 15px;

            line-height: 40px;

            color: #003768;

            font-size: 16px;

            font-weight: 300;

            position: relative;

            padding-left: 32px;

          }

          .pg-inicial .fundo .servicos ul li:before {

            content: '';

            background: url(img/check-circle.png) no-repeat;

            background-size: cover;

            background-position: center;

            display: block;

            position: absolute;

            top: 11px;

            left: 11px;

            width: 13px;

            height: 13px;

          }

        .pg-inicial .fundo .servicos .botao-saiba-mais{



        }

          .pg-inicial .fundo .servicos .botao-saiba-mais input{

            background: #2fbdebf0;

            border: none;

            width: 100%;

            max-width: 235px;

            font-size: 18px;

            color: white;

            height: 65px;

            margin: 17px auto 23px;

            border-radius: 4px;

          }

          .pg-inicial .fundo .servicos .botao-saiba-mais input:hover {

            background: #57caef;

          }

    .pg-inicial .negocie-fundo {

      background: #f4f4f4;

      margin: 50px auto 0;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida {

      width: 100%;

      margin: 0 auto;

    }

      .pg-inicial .negocie-fundo .negocie-sua-divida h2 {

        font-size: 60px;

        color: #545454;

        width: 100%;

        margin: 18px auto;

        padding-top: 40px;

        font-weight: 900;

        text-indent: 8px;

      }

        .pg-inicial .negocie-fundo .negocie-sua-divida p{

          font-size: 26px;

          color: #b7b7b7;

          font-weight: 200;

          text-indent: 8px;

        }

          .pg-inicial .negocie-fundo .negocie-sua-divida input {

            display: block;

            width: 100%;

            height: 60px;

            max-width: 540px;

            margin: 30px auto;

            border: none;

            text-indent: 22px;

            font-size: 22px;

            border-radius: 4px;

            font-weight: 200;

            padding: 10px 0;

          }

          .pg-inicial .negocie-fundo .negocie-sua-divida .botao-enviar {

            padding-bottom: 65px;

            text-align: right;

          }

            .pg-inicial .negocie-fundo .negocie-sua-divida .botao-enviar input {

              margin: 10px auto;

              width: 100%;

              max-width: 255px;

              height: 70px;

              text-indent: 0px;

              color: white;

              background: #2fbdebf0;

              position: relative;

              display: inline-block;

              margin-right: 30px;

              font-size: 18px;

              font-weight: 400;

            }

            .pg-inicial .negocie-fundo .negocie-sua-divida .botao-enviar input:hover {

              background: #57caef;

              transition: all 0.3s;

            }

            .pg-inicial .negocie-fundo .negocie-sua-divida .botao-enviar input:focus {

              color: #333;

              background-color: #e6e6e6;

              border-color: #8c8c8c;

            }



/* PÁGINA SOBRE */

  .pg-sobre {

    padding-top: 90px;

  }

    .pg-sobre .area-titulo {

      background: url(img/banner-sobre.jpg) no-repeat;

      height: 450px;

      background-position: center;

      background-size: cover;

    }

      .pg-sobre .area-titulo .titulo {

        position: absolute;

        top: 285px;

        left: 15px;

      }

        .pg-sobre .area-titulo .titulo h2 {

          color: white;

          font-size: 60px;

          margin: 0 auto 22px;

        }

        .pg-sobre .area-titulo .titulo h6 {

          color: #1ab7ea;

          font-size: 27px;

          font-weight: 200;

        }

        .pg-sobre .area-titulo .indice {

          margin: 0 auto;

          text-align: center;

          font-weight: 200;

          position: relative;

          top: 335px;

          width: 100%;

          max-width: 430px;

        }

          .pg-sobre .area-titulo .indice ul {

            font-size: 0;

          }

            .pg-sobre .area-titulo .indice ul li {

              display: inline-block;

              width: 100%;

              max-width: 140px;

            }

            .pg-sobre .area-titulo .indice ul li:hover {



            }

            .pg-sobre .area-titulo .indice ul li a.ativo {

              border-bottom: 1px solid #1ab7ea;

            }

              .pg-sobre .area-titulo .indice ul li a {

                text-decoration: none;

                color: white;

                font-size: 16px;

                border-bottom: 1px solid white;

                width: 100%;

                display: block;

              }

              .pg-sobre .area-titulo .indice ul li:hover a {

                color: #1ab7ea;

                text-decoration: none;

                border-bottom: 1px solid #1ab7ea;

              }

              .pg-sobre .area-titulo .indice ul li a.ativo {

                color: #1ab7ea;

                text-decoration: none;

              }

    .pg-sobre .sobre {



    }

      .pg-sobre .sobre .texto-sobre-principal {

        text-align: center;

        font-weight: 300;

        font-size: 18px;

        color: #8d8d8d;

        margin: 105px auto 0;

        width: 100%;

        max-width: 875px;

        line-height: 32px;

      }

        .pg-sobre .sobre .texto-sobre-principal p {



        }

      .pg-sobre .sobre .topico-sobre {

        color: white;

        border: 1px solid #1ab7ea;

        font-size: 18px;

        font-weight: 400;

        background: #1ab7ea;

        margin: 0px auto 45px;

        width: 100%;

        max-width: 158px;

        border-radius: 5px;

        padding: 7px;

        display: block;

      }

      .pg-sobre .sobre .topico-sobre:hover, .pg-sobre .sobre .topico-sobre:hover, .pg-sobre .sobre .topico-sobre:focus {

        border: 1px solid #aaa;

        color: #333;

        background-color: #d4d4d4;

        border-color: #8c8c8c;

        transition: all 0.3s;

      }

      .pg-sobre .sobre .p-sobre {

        color: #6d6d6d;

        margin: 12px auto;

        padding: 0px 22px;

      }

      .pg-sobre .sobre .lista-sobre {

        color: #6d6d6d;

        padding: 0px 22px;

      }

        .pg-sobre .sobre .lista-sobre li {

          list-style: none;

        }

      .pg-sobre .sobre h2 {

        text-align: center;

        color: #003768;

        font-size: 49px;

        margin: 75px auto 50px;

      }

      .pg-sobre .sobre h4 {

        text-align: center;

        color: #1ab7ea;

        font-weight: 200;

        width: 60%;

        margin: 0 auto;

        line-height: 26px;

      }

      .pg-sobre .sobre .contato {

        color: #6b6b6b;

        width: 100%;

        max-width: 264px;

        margin: 105px auto;

      }

        .pg-sobre .sobre .contato .endereco {

          font-weight: 600;

          color: black;

          font-size: 14px;

        }

        .pg-sobre .sobre .contato .hora-info {

          padding: 18px 0 0;

        }

        .pg-sobre .sobre .contato .horario {

          font-weight: 600;

          color: #3bc1ec;

          line-height: 10px;

        }

        .pg-sobre .sobre .contato .email {

          padding: 22px 0 0;

          line-height: 15px;

        }

        .pg-sobre .sobre .contato .fone {

          font-weight: 600;

          color: black;

          font-size: 15px;

        }

      .pg-sobre .sobre .enviar {

        width: 100%;

        max-width: 780px;

        margin: 100px 0 60px;

      }

        .pg-sobre .sobre .enviar label {

          font-size: 13px;

          font-weight: 400;

          margin: 0px auto;

          width: 100%;

          max-width: 98%;

        }

        .pg-sobre .sobre .enviar input {

          width: 100%;

          max-width: 99%;

          height: 34px;

          margin: 10px auto;

          box-shadow: inset 0px 3px 7px -3px #e2e2e2;

          border: 1px solid #ccc;

          text-indent: 4px;

          display: block;

        }

        .pg-sobre .sobre .enviar .input-menor-esquerda {

          width: 98%;

          max-width: 375px;

          box-shadow: inset 0px 3px 7px -3px #e2e2e2;

          border: 1px solid #ccc;

          margin: 10px auto;

          display: block;

        }

        .pg-sobre .sobre .enviar .input-menor-direita {

          width: 98%;

          max-width: 382px;

        }

        .pg-sobre .sobre .enviar input[type="submit"] {

          background: #3bc1ec;

          border: none;

          color: white;

          width: 240px;

          height: 67px;

          font-size: 18px;

          font-weight: 400;

          border-radius: 4px;

          margin: 28px 0 0 5px;

          text-indent: 0px;

        }

        .pg-sobre .sobre .enviar input[type="submit"]:hover {

          background: #ddd;

          color: black;

          border: 1px solid #aaa;

        }

        .pg-sobre .sobre .enviar input[type="submit"]:focus {

          transition: all 0.3s;

          color: #333;

          background-color: #e6e6e6;

          border-color: #8c8c8c;

        }

        .pg-sobre .sobre .enviar input[type="file"] {

          border: none;

          box-shadow: none;

          text-indent: 0px;

        }

        .pg-sobre .sobre .enviar select {

          margin: 11px 0 10px;

          padding: 6px 4px;

          width: 100%;

          max-width: 99%;

          box-shadow: inset 1px 1px 7px -2px #e2e2e2;

          border: 1px solid #c3c3c3;

        }

          .pg-sobre .sobre .enviar select option {



          }



/* PÁGINA DE SERVIÇOS */

  .pg-servicos {

    padding-top: 90px;

  }

    .pg-servicos .area-titulo {

      background: url(img/banner-servicos.jpg) no-repeat;

      height: 430px;

      position: relative;

      background-position: center;

      background-size: cover;

    }

    .pg-servicos .area-titulo .titulo {

      position: absolute;

      top: 245px;

    }

      .pg-servicos .area-titulo .titulo h2 {

        color: white;

        font-size: 62px;

        margin: 20px 0;

      }

      .pg-servicos .area-titulo .titulo h6 {

        font-size: 28px;

        color: #1ab7ea;

        font-weight: 200;

      }

    .pg-servicos .servicos {



    }

      .pg-servicos .servicos .texto-servicos-principal {

        width: 100%;

        max-width: 510px;

        margin: 110px auto;

      }

        .pg-servicos .servicos .texto-servicos-principal p {

          color: #8d8d8d;

          font-size: 18px;

          font-weight: 300;

          line-height: 32px;

        }

      .pg-servicos .servicos .segmentos {

        background: #f4f4f4;

        text-align: center;

        padding: 130px 0;

      }



        .pg-servicos .servicos .segmentos h2 {

          color: #003768;

          font-size: 50px;

        }

        .pg-servicos .servicos .segmentos .p-principal {

          color: #1ab7ea;

          width: 65%;

          margin: 48px auto;

          font-size: 18px;

          font-weight: 200;

        }

        .pg-servicos .servicos .segmentos ul {

          list-style: none;

          padding: 0;

          margin: 0;

          font-size: 0;

        }

          .pg-servicos .servicos .segmentos ul li {

            width: 50%;

            display: inline-block;

          }

            .pg-servicos .servicos .segmentos h4 {

              color: #003768;

              font-size: 28px;

              font-weight: 300;

              margin: 20px auto;

            }

            .pg-servicos .servicos .segmentos p {

              color: #a8a8a8;

              font-size: 17px;

              font-weight: 200;

              width: 50%;

              margin: 0px auto 18px;

            }

            .pg-servicos .servicos .segmentos figure {



            }

              .pg-servicos .servicos .segmentos figure img {

                margin: 45px auto 0px;

              }

            .pg-servicos .servicos .processo-cobranca {



            }

              .pg-servicos .servicos .processo-cobranca figure {



              }

                .pg-servicos .servicos .processo-cobranca figure img {

                  width: 100%;

                }

              .pg-servicos .servicos .processo-cobranca .processo {

                width: 100%;

                max-width: 530px;

                margin: 40px auto;

              }

                .pg-servicos .servicos .processo-cobranca .processo h4 {

                  color: #003768;

                  font-size: 37px;

                }

                .pg-servicos .servicos .processo-cobranca .processo h6 {

                  color: #1ab7ea;

                  font-size: 18px;

                  font-weight: 400;

                  margin: 25px auto;

                  line-height: 30px;

                }

                .pg-servicos .servicos .processo-cobranca .processo p {

                  font-weight: 300;

                  color: #9e9e9e;

                  font-size: 16px;

                  line-height: 37px;

                }

              .pg-servicos .servicos .processo-cobranca nav {

              width: 100%;

              max-width: 360px;

              margin: 0 auto;

              padding: 79px 0 60px 75px;

            }

              .pg-servicos .servicos .processo-cobranca nav span {

                display: block;

                text-align: center;

                margin: 10px auto;

                font-size: 19px;

                font-weight: 300;

                border-bottom: 1px solid #ccc;

                color: #1ab7ea;

                text-decoration: none;

                line-height: 70px;

                position: relative;

                cursor: pointer;

              }

              .pg-servicos .servicos .processo-cobranca nav span.ativo{

                background: #1ab7ea;

                color: white;

                border-radius: 4px;

              }

              .pg-servicos .servicos .processo-cobranca nav span:hover {

                background: #1ab7ea;

                color: white;

                border-radius: 4px;

              }

                .pg-servicos .servicos .processo-cobranca nav span i {

                  font-size: 30px;

                  position: absolute;

                  top: 22px;

                  right: 15px;

                  color: white;

                }

              .pg-servicos .servicos .processo-cobranca .areaDescricao {



              }

              .pg-servicos .servicos .processo-cobranca .areaDescricao .cobranca {

                width: 100%;

                max-width: 578px;

                padding-top: 80px;

                display:none;

              }

              .pg-servicos .servicos .processo-cobranca .areaDescricao .cobranca.ativo{

                display:block;

              }

                .pg-servicos .servicos .processo-cobranca .areaDescricao .cobranca h3 {

                  color: #003768;

                  font-size: 50px;

                  padding-bottom: 15px;

                }

                .pg-servicos .servicos .processo-cobranca .areaDescricao .cobranca p {

                  color: #9e9e9e;

                  font-weight: 300;

                  font-size: 16px;

                  line-height: 36px;

                }



/* PÁGINA CONTATO */

  .pg-contato {

    padding-top: 90px;

  }

    .pg-contato .area-titulo {

      background: url(img/banner-contato.jpg) no-repeat;

      height: 200px;

      position: relative;

      background-position: center;

      background-size: cover;

    }

    .pg-contato .area-titulo .titulo {

      position: absolute;

      bottom: 28px;    

    }

      .pg-contato .area-titulo .titulo h2 {

        color: white;

        font-size: 60px;

        margin: 25px auto;

      }

      .pg-contato .area-titulo .titulo h6 {

        color: #1ab7ea;

        font-size: 27px;

        font-weight: 200;

      }

    .pg-contato .secao-contato {



    }

      .pg-contato .secao-contato .google-maps {

        text-align: center;

      }

        .pg-contato .secao-contato .google-maps iframe {

          width: 97%;

          height: 430px;

          margin: 75px auto;

        }

      .pg-contato .secao-contato .contato {

        color: #6b6b6b;

        width: 100%;

        max-width: 274px;

        margin: 20px auto 0;

      }

        .pg-contato .secao-contato .contato .endereco {

          font-weight: 600;

          color: black;

          font-size: 15px;

        }

        .pg-contato .secao-contato .contato .hora-info {

          padding: 25px 0 0;

        }

        .pg-contato .secao-contato .contato .horario {

          font-weight: 600;

          color: #3bc1ec;

          line-height: 12px;

        }

        .pg-contato .secao-contato .contato .email {

          padding: 25px 0 0;

        }

        .pg-contato .secao-contato .contato .fone {

          font-weight: 600;

          color: black;

          font-size: 15px;

        }

          .pg-contato .secao-contato .contato .fone strong {

            color: #3bc1ec;

          }

      .pg-contato .secao-contato .enviar {

        color: #6b6b6b;

      }

        .pg-contato .secao-contato .enviar label {

          display: block;

          margin: 15px auto 0;

          font-weight: 400;

        }

        .pg-contato .secao-contato .enviar input {



        }

        .pg-contato .secao-contato .enviar input {

          width: 100%;

          height: 40px;

          margin: 0 auto;

          box-shadow: inset 0px 3px 7px -3px #e2e2e2;

          border: 1px solid #ccc;

        }

        .pg-contato .secao-contato .enviar .nome {

          width: 97%;

        }

        .pg-contato .secao-contato .enviar .sobrenome {

          margin-top: 35px;

          width: 97%;

          margin-left: 12px;

        }

        .pg-contato .secao-contato .enviar textarea {

          width: 100%;

          height: 100px;

          box-shadow: inset 0px 3px 7px -3px #e2e2e2;

          border: 1px solid #ccc;

        }

        .pg-contato .secao-contato .enviar input[type="submit"] {

          background: #3bc1ec;

          color: white;

          border: none;

          border-radius: 4px;

          max-width: 190px;

          font-size: 18px;

          height: 50px;

          margin: 55px auto 110px;

        }

        .pg-contato .secao-contato .enviar input[type="submit"]:hover {

          background: #ddd;

          color: black;

          border: 1px solid #aaa;

        }

        .pg-contato .secao-contato .enviar input[type="submit"]:focus {

          background: #ddd;

          color: black;

          border: 1px solid #aaa;

        }



/* PÁGINA INICIAL BLOG */

  .pg-inicial-blog {

    padding-top: 90px;

  }

    .pg-inicial-blog .area-titulo {

      background: url(img/banner-blog.jpg) no-repeat;

      height: 200px;

      position: relative;

      margin-bottom: 40px;

      background-position: center;

      background-size: cover;

    }

    .pg-inicial-blog .area-titulo .titulo {

      position: absolute;

      bottom: 28px;

    }

      .pg-inicial-blog .area-titulo .titulo h2 {

        color: white;

        font-size: 62px;

        margin: 25px auto;

      }

      .pg-inicial-blog .area-titulo .titulo h6 {

        color: #1ab7ea;

        font-size: 27px;

        font-weight: 200;

      }

    .pg-inicial-blog .secao-blog {



    }

      .pg-inicial-blog .secao-blog .post {

        border-bottom: 3px solid #ccc;

        margin: 38px auto 0;

        padding-bottom: 30px;

      }

        .pg-inicial-blog .secao-blog .post figure {

          

        }

          .pg-inicial-blog .secao-blog .post figure img {

            width: 100%;

            border-bottom: 3px solid #ccc;

          }

        .pg-inicial-blog .secao-blog .post h4 {

          margin: 20px auto 35px;

          font-family: 'Open Sans', sans-serif;

        }

          .pg-inicial-blog .secao-blog .post h4 a {

            text-decoration: none;

            color: #939393;

            font-size: 24px;

            font-weight: 400;

          }

        .pg-inicial-blog .secao-blog .post span {

          font-weight: 400;

          color: #939393;

        }

          .pg-inicial-blog .secao-blog .post span strong {

            color: #003768;

            font-weight: 400;

          }

        .pg-inicial-blog .secao-blog .post p {

          color: #939393;

          margin: 10px auto;

        }

        .pg-inicial-blog .secao-blog .post a {

          color: #003768;

        }

        .pg-inicial-blog .secao-blog .post a:focus {

          text-decoration: underline;

        }

          .pg-inicial-blog .secao-blog .post a i {

            color: #1ab7ea;

            padding-left: 13px;

          }

       .sidebar {

        width: 100%;

        margin: 35px auto;

        max-width: 230px;    

      }

         .sidebar .categorias {



        }

           .sidebar .categorias h5 {

            color: #939393;

            font-weight: 600;

          }

           .sidebar .categorias .menu-categorias {

            margin: 20px auto 40px;

          }

             .sidebar .categorias .menu-categorias a {

              display: block;

              color: #003768;

              line-height: 25px;

              text-transform: uppercase;

            }

             .sidebar .categorias .menu-categorias a:focus {

              text-decoration: underline;

            }

               .sidebar .categorias .menu-categorias a i {

                color: #939393;

                font-size: 10px;

                padding-right: 10px;

                padding-right: 5px;

              }

         .sidebar .posts-recentes {



        }

           .sidebar .posts-recentes h5 {

            color: #939393;

            font-weight: 600;

          }

           .sidebar .posts-recentes ul {



          }

             .sidebar .posts-recentes ul li {

              border-bottom: 1px solid #ccc;

              padding: 10px 0;

            }

               .sidebar .posts-recentes ul li a {

                margin: 2px auto;

                color: #003768;

                text-decoration: none;

              }

               .sidebar .posts-recentes ul li a:before {

                content: ">";

                font-family: FontAwesome;

                display: inline-block;

                width: 15px;

              }

                 .sidebar .posts-recentes ul li span {        

                  font-size: 13px;

                  padding-left: 7px;

                  color: #333;

                  font-weight: normal;

                }

             .sidebar .posts-recentes .post-sidebar p a:focus {

              text-decoration: underline;

            }

               .sidebar .posts-recentes .post-sidebar p a i {

                font-size: 12px;

                color: #939393;

                padding-right: 10px;

              }

           .sidebar .posts-recentes .post-sidebar span {

            font-size: 13px;

            padding-left: 7px;

          }

         .sidebar .tags {



        }

           .sidebar .tags h5 {

            color: #939393;

            font-weight: 600;

          }

           .sidebar .tags p {

            display: inline-block;

            line-height: 48px;

          }

             .sidebar .tags p a {

              background: #939393;

              padding: 8px;

              text-decoration: none;

              color: white;

              font-size: 18px;

              border-radius: 3px;

            }

             .sidebar .tags p a:hover {

              background: #1ab7ea;

            }

             .sidebar .tags p a:focus {

              text-decoration: underline;

            }

         .sidebar .arquivo {



        }

           .sidebar .arquivo h5{

            color: #939393;

            font-weight: 600;

            margin: 30px auto 10px;

          }

           .sidebar .arquivo p{

          

          }

             .sidebar .arquivo ul{

                padding:0;

                list-style: none;

             }

             .sidebar .arquivo ul li{

              display:block;

             }



             .sidebar .arquivo ul li a {

              color: #003768;

            }

               .sidebar .arquivo ul li a i {

                font-size: 12px;

                color: #939393;

                padding-right: 10px;

              }

      .pg-inicial-blog .secao-blog .paginador {

        margin: 70px auto;

      }

        .pg-inicial-blog .secao-blog .paginador a {

          color: white;

          background: #939393;

          padding: 11px 15px;

          border-radius: 4px;

          font-weight: 600;

          margin:0 5px;

        }

        .pg-inicial-blog .secao-blog .paginador a.ativo {

          background: #3bc1ec;

        }

        .pg-inicial-blog .secao-blog .paginador a:hover {

          background: #3bc1ec;

          text-decoration: underline;

        }

        .pg-inicial-blog .secao-blog .paginador .proxima-pg {

          margin-left: 20px;

        }

          .pg-inicial-blog .secao-blog .paginador .proxima-pg i {

            font-size: 20px;

          }



/* PÁGINA POST BLOG */

  .pg-post-blog {

    padding-top: 90px;

  }

    .pg-post-blog .secao-post-blog {

      

    }

      .pg-post-blog .secao-post-blog .post-blog {

        padding: 0 10px;

      }

        .pg-post-blog .secao-post-blog .post-blog h1 {

          margin: 80px auto 25px;

          color: #939393;

          font-weight: 400;

          border-top: 1px solid #e2e2e2;

          padding-top: 5px;

        }

        .pg-post-blog .secao-post-blog .post-blog figure {

        

        }

          .pg-post-blog .secao-post-blog .post-blog figure a {

          

          }

            .pg-post-blog .secao-post-blog .post-blog figure a img {

              width: 100%;

              margin: 0 auto 50px;

            }

        .pg-post-blog .secao-post-blog .post-blog .author {

          font-size: 12px;

        }

          .pg-post-blog .secao-post-blog .post-blog .author a {

            color: #003768;

          }

          .pg-post-blog .secao-post-blog .post-blog .author a:focus {

            text-decoration: underline;

          }

        .pg-post-blog .secao-post-blog .post-blog .texto-principal {

          color: #939393;

          margin: 30px auto 60px;

        }

      .pg-post-blog .secao-post-blog .sidebar {

        width: 100%;

        margin: 80px auto 0;

        max-width: 240px;

        padding: 0 10px;

      }

        .pg-post-blog .secao-post-blog .sidebar h5 {

          color: #939393;

          font-weight: 600;

        }

        .pg-post-blog .secao-post-blog .sidebar nav {

          margin: 20px auto 40px

        }

          .pg-post-blog .secao-post-blog .sidebar nav a {

            display: block;

            color: #003768;

            line-height: 25px;

          }

            .pg-post-blog .secao-post-blog .sidebar nav a i {

              color: #939393;

              font-size: 10px;

              padding-right: 10px;

              padding-right: 5px;

            }

        .pg-post-blog .secao-post-blog .sidebar .post-sidebar {

          border-bottom: 1px solid #ccc;

          padding: 10px 0;

        }

          .pg-post-blog .secao-post-blog .sidebar .post-sidebar .p-sidebar {

            margin: 2px auto;        

          }

            .pg-post-blog .secao-post-blog .sidebar .post-sidebar .p-sidebar a {

              color: #003768;

            }

              .pg-post-blog .secao-post-blog .sidebar .post-sidebar .p-sidebar a i {

                font-size: 12px;

                color: #939393;

                padding-right: 10px;

              }

          .pg-post-blog .secao-post-blog .sidebar .post-sidebar .span-sidebar {

          

          }



/* PÁGINA CATEGORIA BLOG */

  .pg-categoria-blog {

    padding-top: 90px;

  }

    .pg-categoria-blog .area-titulo {

      background: url(img/banner-blog.jpg) no-repeat;

      height: 200px;

      position: relative;

      margin-bottom: 40px;

      background-position: center;

      background-size: cover;

    }

    .pg-categoria-blog .area-titulo .titulo {

      position: absolute;

      bottom: 28px;

    }

    .pg-categoria-blog .area-titulo .titulo h1 {

      color: white;

      font-size: 60px;

      margin: 25px auto;

    }

    .pg-categoria-blog .area-titulo .titulo h6 {

      color: #1ab7ea;

      font-size: 27px;

      font-weight: 200;

    }

    .pg-categoria-blog h2 {

      color: #003768;

      font-size: 35px;

      font-weight: 300;

      padding: 0 10px;

    }

    .pg-categoria-blog .post-categoria {

      padding: 0 10px;

    }

      .pg-categoria-blog .post-categoria figure {



      }

       .pg-categoria-blog .post-categoria figure img {

        width: 100%;

        border-bottom: 3px solid #ccc;

        } 

      .pg-categoria-blog .post-categoria h4 {

        margin: 20px auto 35px;

        font-family: 'Open Sans', sans-serif;

      }

        .pg-categoria-blog .post-categoria h4 a {

          text-decoration: none;

          color: #939393;

          font-size: 24px;

          font-weight: 400;

        }

      .pg-categoria-blog .post-categoria span {

        font-weight: 400;

        color: #939393;

      }

        .pg-categoria-blog .post-categoria span strong {

          color: #003768;

          font-weight: 400;

        }

      .pg-categoria-blog .post-categoria p {

        color: #939393;

        margin: 10px auto;

      }

      .pg-categoria-blog .post-categoria a {

        color: #003768;

      }

      .pg-categoria-blog .post-categoria a:focus {

        text-decoration: underline;

      }

        .pg-categoria-blog .post-categoria a i {

          color: #1ab7ea;

          padding-left: 13px;

        }

      .pg-categoria-blog .sidebar {

        width: 100%;

        margin: 35px auto;

        max-width: 240px; 

      }

        .pg-categoria-blog .sidebar .categorias {



        }

          .pg-categoria-blog .sidebar .categorias h5 {

            color: #939393;

            font-weight: 600;

          }

          .pg-categoria-blog .sidebar .categorias .menu-categorias {

            margin: 20px auto 40px;

          }

            .pg-categoria-blog .sidebar .categorias .menu-categorias a {

              display: block;

              color: #003768;

              line-height: 25px;

            }

              .pg-categoria-blog .sidebar .categorias .menu-categorias a i {

                color: #939393;

                font-size: 10px;

                padding-right: 10px;

                padding-right: 5px;

              }

        .pg-categoria-blog .sidebar .posts-recentes {



        }

        .pg-categoria-blog .sidebar .posts-recentes h5 {

          color: #939393;

          font-weight: 600;

        }

        .pg-categoria-blog .sidebar .posts-recentes .post-sidebar {

          border-bottom: 1px solid #ccc;

          padding: 10px 0;

        }

          .pg-categoria-blog .sidebar .posts-recentes .post-sidebar p {

            margin: 2px auto;

          }

            .pg-categoria-blog .sidebar .posts-recentes .post-sidebar p a {

              margin: 2px auto;

              color: #003768;

            }

              .pg-categoria-blog .sidebar .posts-recentes .post-sidebar p a i{

                font-size: 12px;

                color: #939393;

                padding-right: 10px;

              }

          .pg-categoria-blog .sidebar .posts-recentes .post-sidebar span {

            font-size: 13px;

            padding-left: 18px;

          }

        ..pg-categoria-blog .sidebar .tags {



        }

          .pg-categoria-blog .sidebar .tags h5 {

            color: #939393;

            font-weight: 600;

          }

          .pg-categoria-blog .sidebar .tags p {

            display: inline-block;

            margin: 12px auto;

          }

            .pg-categoria-blog .sidebar .tags p a {

              background: #939393;

              padding: 8px;

              text-decoration: none;

              color: white;

              font-size: 18px;

              border-radius: 3px;

              margin: 0 4px 0 0;

            }

            .pg-categoria-blog .sidebar .tags p a:hover {

              background: #1ab7ea;

            }

        .pg-categoria-blog .sidebar .arquivo {



        }

          .pg-categoria-blog .sidebar .arquivo h5{

            color: #939393;

            font-weight: 600;

            margin: 30px auto 10px;

          }

          .pg-categoria-blog .sidebar .arquivo p{

          

          }

            .pg-categoria-blog .sidebar .arquivo p a {

              color: #003768;

            }

              .pg-categoria-blog .sidebar .arquivo p a i {

                font-size: 12px;

                color: #939393;

                padding-right: 10px;

              }





/*EXTRAS*/

.form-validation-field-0formError.formError{

  top: 129px !important;

  left: 26px !important;

}

/*@MEDIA QUERY*/

  @media(max-width: 1200px){

    .pg-servicos .servicos .processo-cobranca .processo {

      max-width: 520px;

    }

    .pg-servicos .servicos article {

      padding: 0 10px;

    }

    footer .footer .news {

      padding: 0 7px;

    }

     .sidebar {

      width: 100%;

      margin: 35px auto;

      max-width: 190px;

    }

    .pg-post-blog .secao-post-blog .sidebar {

      max-width: 185px;

    }

    .form-validation-field-0formError.formError {

      top: 129px !important;

      left: 7px !important;

    }

  }



  @media(max-width: 991px){

    footer .footer .recentes .post figure {

      max-width: 54px;

      display: block;

      margin: 0 auto;

    }

    footer .footer .recentes .post {

      margin: 20px auto;

    }

    .pg-inicial .saiba-como figure {

      text-align: center;

    }

    .pg-inicial .secao-parceiros .parceiros ul {

      text-align: center;

    }

    .pg-inicial .fundo .servicos ul li {

      text-align: center;

    }

    .pg-inicial .negocie-fundo {

      margin: 0 auto 45px;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida .botao-enviar {

      padding-bottom: 65px;

      text-align: center;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida .botao-enviar input {

      margin-right: 0px;

    }

    footer .footer .recentes .span {

      margin: 0 auto;

    }

    footer .footer .news .botao-assinar {

      padding-right: 4px;;

    }

    footer .footer .logo {

      padding: 0 10px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto {

      max-width: 516px;

      padding: 10px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto h2 {

      font-size: 54px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto h3 {

      font-size: 25px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto p {

      font-size: 16px;

    }

    .pg-inicial .saiba-como .saiba-como-texto {

      padding: 0 10px;

      margin: 38px auto 0;

    }

    .pg-inicial .saiba-como figure img {

      margin: 70px auto 10px;

    }

    .pg-inicial .fundo .servicos {

      position: initial;

    }

    .pg-inicial .fundo .servicos ul {

      padding-left: 10px;

    }

    .pg-inicial .fundo .servicos ul li:before {

      margin-left: 100px;

    }

    .pg-sobre .area-titulo .indice {

      width: 100%;

      margin: 0 auto;

      position: initial;

      top: initial;

    }

    .pg-sobre .area-titulo{

      height: initial;

      padding:50px 0 50px;

    }

    .pg-sobre .area-titulo .indice ul li {

      display: block;

      padding: 5px 0;

      max-width: 100%;

    }

    .pg-sobre .area-titulo .titulo {

      position: initial;

      top: initial;

    }

    .pg-sobre .area-titulo .titulo h2 {

      font-size: 64px;

      text-align:center;

    }

    .pg-sobre .area-titulo .titulo h6 {

      font-size: 25px;

    }

    .pg-sobre .sobre{

      padding: 0 10px;

    }

    .pg-sobre .sobre .contato {

      max-width: 540px;

      text-align: center;

    }

    .pg-sobre .sobre .enviar {

      margin: 0 auto 60px;

    }

    .pg-servicos .area-titulo {

      margin: 0px auto 70px;

    }

    .pg-servicos .servicos article {

      margin: 20px auto;

    }

    .pg-servicos .servicos .segmentos {

      margin: 80px auto;

    }

    .pg-servicos .servicos article p {

      text-align: center;

    }

    .pg-servicos .servicos .processo-cobranca nav {

      padding: 0px;

    }

    .pg-servicos .servicos .processo-cobranca nav span {

      text-align: center;

      font-size: 20px;

    }

    .pg-servicos .servicos .processo-cobranca .cobranca {

      max-width: 810px;

      margin: 0 auto 60px;

      text-align: center;

    }

    .pg-servicos .servicos .processo-cobranca .processo {

      max-width: 450px;

      margin: 0px auto;

    }

    .pg-servicos .servicos .segmentos {

      margin-bottom: 0;

    }

    .pg-contato .secao-contato .contato {

      max-width: 535px;

      text-align: center;

      margin: 0 auto;

    }

     .sidebar {

      max-width: 710px;

    }

    .pg-post-blog .secao-post-blog .sidebar {

      max-width: 710px;

    }

    .pg-categoria-blog .sidebar {

      max-width: 710px;

    }

    .pg-sobre .sobre .lista-sobre li {

      padding: 0 5px;

    }

    footer .footer .recentes .post .post-info {

      padding: 0 10px;

    }

    .pg-servicos .servicos .texto-servicos-principal {

      margin: 30px auto;

      text-align: center;

    }

  }

  @media(max-width: 768px){
    .pg-inicial .carrossel-destaque{
      display: none;
    }
    .pg-servicos .servicos .processo-cobranca nav, .pg-servicos .servicos .processo-cobranca .areaDescricao{

      display:none;

    }

    .topo.internas{

      background: #fff;

    }

    .topo.internas  .navbar button{

      border: 1px solid #1ab7ea;

    }

    .topo.internas .navbar button span{

      background:#1ab7ea;

    }

    .pg-inicial .gestao-pessoas figure img {

      margin: 90px auto 0;

    }

    footer .footer {

      text-align: center;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida h2 {

      font-size: 44px;

      text-indent: 0;

      text-align: center;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida p {

      font-size: 18px;

      text-indent: 0;

      padding: 10px;

      text-align: center;

    }

    .topo .navbar button {

      display: block;

      border: 1px solid white;

      border-radius: 5px;

      margin: 0 5px;

      position: absolute;

      top: -40px;

      right: 0;

    }

    .topo .navbar button span {

      background: white;

    }

    .topo {

      background: #36bce9;

      height: initial;

    }

    .topo .img-logo {

      margin: 0 auto;

    }

    .topo .navbar{

      min-height: 0;

    }

    .pg-sobre .area-titulo .indice {

      margin: 0 auto;

    }

    .pg-sobre .area-titulo .indice ul li {

      display: block;

    }

    .pg-sobre .sobre .enviar .input {

      width: 100%;

      max-width: 95%;

      margin: 0 auto;

      display: block;

    }

    .pg-sobre .sobre .enviar label {

      width: 100%;

      max-width: 95%;

      margin: 10px auto;

      padding: 0 5px;

    }

    .pg-sobre .sobre .enviar input[type="submit"] {

      width: 90%;

      margin: 10px auto;

    }

    .pg-sobre .sobre .topico-sobre {

      margin: 10px auto;

      width: 100%;

      max-width: 97%;

      display: block;

    }

    .pg-sobre .sobre .p-sobre {

      margin: 10px 10px;

    }

    .pg-sobre .sobre .lista-sobre {

      margin: 0 10px;

    }

    .pg-sobre .sobre article p {

      padding: 0 5px;

    }

    .pg-servicos .servicos .processo-cobranca .processo {

      max-width: 730px;

      margin: 0 auto;

      text-align: center;

      padding: 0 7px;

    }

    .pg-servicos .servicos .processo-cobranca .processo h4 {

      font-size: 40px;

    }

    .pg-servicos .area-titulo .titulo {

      padding-left: 10px;

      position: absolute;

      top: 195px;

    }

    .pg-contato .secao-contato .enviar .input {

      width: 97%;

      margin: 7px auto;

      display: block;

    }

    .pg-contato .secao-contato .enviar label {

      display: block;

      margin: 10px auto;

      width: 97%;

    }

    .pg-contato .secao-contato .enviar textarea {

      width: 97%;

      height: 100px;

      margin: 0 auto;

      display: block;

    }

    .pg-contato .secao-contato .enviar input[type="submit"] {

      max-width: 615px;

    }

    .pg-contato .secao-contato .google-maps iframe {

      padding: 0 5px;

    }

    .pg-contato .area-titulo .titulo {

      padding: 0 5px;

    }

    .pg-inicial-blog .area-titulo .titulo {

      padding: 0 7px;

    }

    .pg-inicial-blog .secao-blog .post {

      padding-left: 7px;

      padding-right: 7px;

    }

    .pg-inicial-blog .secao-blog .paginador {

      max-width: 705px;

    }

    .pg-categoria-blog h2 {

      font-size: 27px;

      padding: 0 10px;

    }

    .pg-categoria-blog .area-titulo .titulo {

      padding: 0 10px;

    }

    .pg-categoria-blog .sidebar {

      padding: 0 10px;

    }

    .pg-contato .secao-contato .enviar .input-menor-direita {

      margin: 40px auto 0;

    }

    .pg-servicos .servicos .texto-servicos-principal p {

      padding: 0 10px;

      text-align: center;

    }

    .pg-inicial .saiba-como .saiba-como-texto h2 {

      font-size: 50px;

    }

    .pg-inicial .saiba-como .saiba-como-texto h3 {

      font-size: 20px;

    }

    .pg-inicial .saiba-como .saiba-como-texto p {

      font-size: 16px;

    }

    .topo {

      position: fixed;

      top: 0;

    }

    .home{

      padding-top: 53px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto{

      margin:0;

    }

    .topo .navbar nav ul .whats:before{

      display:none;

    }

    .topo .navbar nav ul .phone:before{

      display:none;

    }

    footer .footer .logo .texto-footer {

      max-width: none;

    }

    .pg-inicial .gestao-pessoas .gestao-texto h2 {

      font-size: 41px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto h3 {

      font-size: 24px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto p {

      font-size: 15px;

    }

    .pg-servicos .area-titulo .titulo h6 {

      font-size: 25px;

    }

   .form-validation-field-0formError.formError {

      top: 86px !important;

      left: 8px !important;

    }

    footer .copyright {

      margin-top: 35px;

    }

  }



  @media(max-width: 425px){

    .pg-inicial .gestao-pessoas figure img {

      margin: 0 auto;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida {

      padding: 7px;

    }

    .pg-inicial .fundo .servicos ul li:before {

      margin-left: 20px;

    }

    .pg-sobre .sobre h4 {

      width: 100%;

      padding: 0px 5px;

    }

    .pg-sobre .area-titulo .titulo h2 {

      font-size: 47px;

    } 

    .pg-sobre .area-titulo .titulo h6 {

      font-size: 18px;

    }

    .pg-sobre .area-titulo .indice {

      padding: 0 5px;

    }

    .pg-sobre .sobre .topico-sobre {

      margin: 10px 5px;

    }

    .pg-sobre .area-titulo .titulo {

      padding: 0 5px;

    }

    .pg-servicos .area-titulo .titulo {

      position: absolute;

      top: 200px;

    }

    .pg-servicos .area-titulo .titulo h2 {

      font-size: 55px;

    }

    .pg-servicos .area-titulo .titulo h6 {

      font-size: 18px;

    }

    .pg-servicos .servicos .segmentos h2 {

      font-size: 38px;

    }

    .pg-servicos .servicos .segmentos .p-principal {

      width: 98%;

      font-size: 15px;

    }

    .pg-servicos .servicos .processo-cobranca .processo h4 {

      font-size: 35px;

    }

    .pg-servicos .servicos .processo-cobranca .processo p {

      padding: 0 5px;

    }

    .pg-servicos .servicos .processo-cobranca nav {

      max-width: 355px;

    }

    .pg-servicos .servicos .processo-cobranca .cobranca h3 {

      font-size: 40px;

    }

    .pg-servicos .servicos .processo-cobranca .cobranca p {

      padding: 0 5px;

    }

    .pg-contato .area-titulo .titulo h6 {

      font-size: 22px;

    }

    .pg-contato .area-titulo .titulo h2 {

      font-size: 37px;

    }

    .pg-contato .secao-contato .contato {

      padding: 0 5px;

    }

     .sidebar {

      padding: 0 5px;

    }

    .pg-inicial-blog .secao-blog .paginador {

      max-width: 290px;

    }

    .pg-post-blog .secao-post-blog h1 {

      padding: 0 5px;

    }

    .pg-post-blog .secao-post-blog figure img {

      padding: 0 5px;

    }

    .pg-post-blog .secao-post-blog .author {

      padding: 0 5px;

    }

    .pg-post-blog .secao-post-blog .texto-principal {

      padding: 0 5px;

    }

    .pg-post-blog .secao-post-blog .sidebar {

      max-width: 385px;

    }

    .pg-categoria-blog .area-titulo .titulo {

      padding: 0 5px;

    }

    .pg-categoria-blog h2 {

      padding: 0 13px;

      font-size: 22px;

    }

    .pg-categoria-blog .sidebar {

      max-width: 395px;

    }

    .pg-categoria-blog .area-titulo .titulo h1 {

      font-size: 40px;

    }

    .pg-categoria-blog .area-titulo .titulo h6 {

      font-size: 22px;

    }

    .pg-post-blog .secao-post-blog .post-blog h1 {

      font-size: 28px;

    }

    .pg-inicial-blog .area-titulo .titulo h6 {

      font-size: 20px;

    }

    .pg-inicial-blog .area-titulo .titulo h2 {

      font-size:45px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto h2 {

      font-size: 33px;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida input {

      height: 45px;

      text-indent: 16px;

      font-size: 17px;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida h2 {

      font-size: 33px;

    }

    .pg-inicial .negocie-fundo .negocie-sua-divida p {

      font-size: 16px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto h3 {

      font-size: 18px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto p {

      font-size: 14px;

    }

    .pg-inicial .saiba-como .saiba-como-texto h2 {

      font-size: 40px;

    }

    .pg-inicial .saiba-como .saiba-como-texto h3 {

      font-size: 19px;

    }

    .pg-sobre .sobre h2 {

      font-size: 32px;

    }

    .pg-sobre .sobre h4 {

      font-size: 15px;

    }

    .pg-servicos .servicos .texto-servicos-principal {

      margin: 0 auto 30px;

    }

    .pg-servicos .servicos .segmentos {

      margin: 15px auto;

    }

    .pg-servicos .servicos .segmentos {

      padding: 65px 0;

    }

    .pg-servicos .servicos .segmentos h4 {

      font-size: 22px;

    }

    footer .footer .recentes {

      padding: 0px;

    }

    .pg-categoria-blog .post-categoria h4 a {

      font-size: 20px;

    }

    .pg-categoria-blog .post-categoria span {

      font-size: 12px;

    }

    .pg-categoria-blog .post-categoria p {

      font-size: 12px;

    }

    .pg-categoria-blog .post-categoria a {

      font-size: 12px;

    }

    .pg-inicial .carrossel-destaque .owl-dot.active span {

      width: 14px;

      height: 14px;

    }

    .pg-inicial .carrossel-destaque .owl-dot span {

      width: 12px;

      height: 12px;

    }

    .pg-inicial .carrossel-destaque .owl-dots {

      padding: 0;

    }

    .pg-servicos .servicos .segmentos ul li {

      display: block;

      width: 100%;

    }

    .pg-contato .secao-contato .enviar input[type="submit"] {

      max-width: 290px;

    }

  }



  @media(max-width: 320px){

    .pg-sobre .area-titulo .titulo h2 {

      text-align: center;

    }

    .pg-sobre .area-titulo .titulo h6 {

      text-align: center;

    }

    .pg-inicial .saiba-como .saiba-como-texto p {

      line-height: 32px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto p {

      line-height: 33px;

    }

    .pg-inicial .gestao-pessoas .gestao-texto h2 {

      font-size: 32px;

    }

    .form-validation-field-0formError.formError {

      top: 139px !important;

      left: 146px !important;

    }

    .pg-contato .secao-contato .enviar input {

      display: block;

      max-width: 290px;

    }

    .pg-contato .secao-contato .enviar .nome {

      width: 97%;

      display: block;

    }

    .pg-contato .secao-contato .enviar .sobrenome {

      display: block;

      margin: 6px auto 0;

    }

    footer .copyright {

      margin-top: 85px;

    }

    footer .footer .news .botao-assinar input[type="submit"] {

      margin: 0px auto;

      position: absolute;

      right: 7px;

    }

    footer .footer .news .botao-assinar {

      padding-right: 0px;

    }

    .pg-contato .secao-contato .enviar input[type="submit"] {

      margin: 35px auto 18px;

    }

  }

